In [7]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from datetime import datetime
from mpl_toolkits.basemap import Basemap
sns.set_style('darkgrid')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
# View all columns on the screen
pd.set_option('max_columns', 100)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth',1000)

In [4]:
taxidf = pd.read_pickle('./DB/nyctaxidf.pickle')
taxidf['pickup_latitude'] = taxidf.pickup_latitude.round(3)
taxidf['pickup_longitude'] = taxidf.pickup_longitude.round(3)
taxidf['dropoff_latitude'] = taxidf.dropoff_latitude.round(3)
taxidf['dropoff_longitude'] = taxidf.dropoff_longitude.round(3)
taxidf.head()

                          medallion                      hack_license vendor_id  rate_code pickup_datetime    dropoff_datetime  passenger_count  trip_time_in_secs  trip_distance  pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude payment_type  fare_amount  surcharge  mta_tax  tip_amount  tolls_amount  total_amount
0  52BC28EAABDDC48741F825000D738850  DA77BDC1BC5CFD0E31613E7E2FF4EA24       CMT          1      2013-04-01 2013-04-01 00:10:32                1                632           3.40           -73.994           40.747            -73.956            40.773          CRD         12.0        0.5      0.5         2.6          0.00         15.60
1  13048646BCF94CC2F5CB4EF34CE50527  975649E3088B0D2BD2DE377B49B0898D       VTS          1      2013-04-01 2013-04-01 00:31:00                4               1860          20.27           -73.777           40.645            -73.978            40.674          CRD         54.0        0.5      0.5        10.0          0.00         65.00
2  B8733215A7E6A22EB832EEAEA731D3CB  66707B80913E62642A6C2E0BFEE45955       VTS          1      2013-04-01 2013-04-01 00:35:00                1               2100          10.29           -73.918           40.771            -73.900            40.754          CSH         34.0        0.5      0.5         0.0          0.00         35.00
3  6BB78818AFB34080166D1FB349EA2550  77A573BE341A4B887C566895F87B7D1C       VTS          5      2013-04-01 2013-04-01 00:32:00                4               1920           5.12           -73.987           40.750            -74.043            40.720          CSH         45.0        0.0      0.5         0.0         10.25         55.75
4  D80FD255D1921207A256F30136F4DBB2  871954A11B0687C7C43B0E782AAEC9F1       VTS          1      2013-04-01 2013-04-01 00:04:00                4                240           0.97           -73.959           40.720            -73.967            40.711          CRD          5.0        0.5      0.5         1.1          0.00          7.10